body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}
th{
    background-color: green;
    color: black;
}
.nombre{
    background-color:blue ;
    color: black;
}
.apellido{
    background-color: skyblue;
    color: black;
}
.ciudad{
    background-color: black;
    color: white;
}

.edad{
    background-color: purple;
    color: black;
}